Package: motor-upgrade  
Version: 1.0  
Section: base  
Priority: optional 
Architecture: arm64
Depends: make, gcc, g++,python3-pycryptodome,python3-crcmod,python3-pip
Maintainer: <wuyunzhou@directdrive.com>  
Description: Motor upgrade package  
 .  
 This package contains the motor upgrade files and dependencies.
