Package: motor-upgrade  
Version: 1.0  
Section: base  
Priority: optional 
Architecture: arm64
Depends: python3-crcmod,python3-pycryptodome
Maintainer: <wuyunzhou@directdrive.com>  
Description: Motor upgrade package  
 .  
 This package contains the motor upgrade files and dependencies.
